.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & label{
        color: #000;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 141.176% */
    }
    &  input, textarea,textarea {
      padding: 8px;
      border: 1px solid rgba(0, 0, 0, 0.10);
      border-radius: 8px;
      width: 100%;
      outline: none;
    }
  }
  
  .formGroup {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  textarea {
    resize: none;
  }
  
  .submitButton {
    padding: 10px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  